/**
 * @file mip-cy-fine-qa样式文件
 */

mip-cy-fine-qa {
    .positive-tags {
        overflow: hidden;
        padding: .12rem .12rem 0;
        .positive-list {
            float: left;
            margin-right: .20rem;
            margin-bottom: .10rem;
            padding: .04rem .20rem;
            font-size: .14rem;
            color: #666;
            border-radius: .04rem;
            background-color: #f0f2f5;
            &.cur {
                color: #fff;
                background-color: #2ec561;
            }
        }
    }

    .fine-qa-list {
        padding: 0 .15rem;
    }

    .fine-qa {
        position: relative;
        display: block;
        padding: .20rem 0;
        font-family: PingFangSC-Regular;

        &::after {
            content: "";
            position: absolute;
            right: -.15rem;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #f1f1f1;
        }
        &-title {
            display: flex;
            font-size: .15rem;

            flex-wrap: nowrap;
        }
        &-ask-tag {
            width: .16rem;
            height: .16rem;
            margin-top: .02rem;
            margin-right: .05rem;
            font-size: .13rem;
            line-height: .16rem;
            text-align: center;
            color: #fff;
            border-radius: .02rem;
            background: #ffa800;

            flex-grow: 0;
            flex-shrink: 0;
        }
        &-content {
            margin-top: .15rem;
            font-family: PingFangSC-Light;
            font-size: .14rem;
            letter-spacing: 0;
            color: #323232;
        }
    }

    .no-content {
        line-height: 1rem;
        text-align: center;
        color: #cecece;
    }
}
