/**
 * @file mip-game-recommend样式文件
 */

mip-game-recommend {
    .mip-game-recommend-container {
        height: 3.48rem;
        display: none;
        background: #eee;
        padding-top: .2rem;
    }
    .game-recommend-hd {
        font-size: .32rem;
        height: .8rem;
        line-height: .8rem;
        padding-left: 10px;
        background: #fff;
    }
    .game-recommend-bd {
        font-size: .24rem;
        text-align: center;
        position: absolute;
        left: 0;
        top: 1rem;
        width: 100%;
        overflow: hidden;
        background: #fff;
        padding-top: .2rem;
        padding-bottom: .2rem;
        .iscoll-container {
            overflow: hidden;
            ul {
                width: 100%;
                height: 100%;
                list-style: none;
                .game-item {
                    width: 1.2rem;
                    padding: 0 .3rem;
                    float: left;
                    .item-detail {
                        p {
                            height: .4rem;
                            line-height: .4rem;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .des {
                            color: #999;
                            margin-top: -.08rem;
                        }
                        .game-download {
                            display: block;
                            width: 1.16rem;
                            height: .48rem;
                            border: 1px solid #04B4FF;
                            border-radius: 1rem;
                            font-size: .28rem;
                            line-height: .48rem;
                            color: #04B4FF;
                        }
                    }
                }
            }
        }
        
    }
}