/**
 * @file mip-cy-ad样式文件
 */

mip-cy-ad {
    .mip-cy-ad {
        position: relative;
        display: flex;
        width: auto;
        height: 50px;
        background-color: rgba(0, 0, 0, .7);

        flex-wrap: nowrap;
        justify-content: space-between;

        &::before {
            content: "广告";
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            padding: 2px;
            font-size: 8px;
            color: #fff;
            background: rgba(200, 200, 200, .8);
        }
    }

    .doc {
        display: flex;
        align-items: center;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;

        &-img {
            overflow: hidden;
            margin: 0 12px;
            border-radius: 50%;
        }

        &-info {
            font-size: 12px;
            color: #ddd;

            p,
            div {
                &:first-child {
                    margin-bottom: 4px;
                    font-size: 14px;
                }
            }
        }
    }

    .ad-close {
        display: inline-block;
        width: 2em;
        padding: 0 5px;
        border-width: 0;
        color: #999;
        outline: none;
        background: #666;

        appearance: none;
        flex-shrink: 0;
    }
}
