/**
* @file mip-bmi-calculate 样式文件
*/

mip-bmi-calculate {

    &.mip-bmi-calculate {
        color: #0000FF;
        font-size: 15px
    }

    .height-label {
        color: #FF0000;
    }

    .weight-label {
        color: #008000
    }

    .height-weight-div {
        border: 0 #FF0000 dashed;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 0 10px 0;
        width: 100%;
    }

    .height-weight-input {
        width: 50px;
        text-align: center;
        color: #FF0000
    }

    .gender-div {
        border: 0 #0000FF dashed;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 0 10px 0;
        width: 100%
    }

    .gender-radio {
        text-align: center;
        color: #0000FF;
    }

    .gender-label {
        color: #0000FF
    }

    .age-div {
        border: 0 #008000 dashed;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 0 30px 0;
        width: 100%
    }

    .age-input {
        width: 200px;
        text-align: center;
        color: #008000;
    }

    .age-label {
        color: #008000
    }

    .type-div {
        border: 0 #008000 dashed;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 0 30px 0;
        width: 100%
    }

    .type-select {
        width: 200px;
        text-align: center;
        color: #008000;
    }

    .type-label {
        color: #008000
    }

    .way-div {
        border: 0 #008000 dashed;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 0 30px 0;
        width: 100%
    }

    .way-select {
        width: 200px;
        text-align: center;
        color: #008000;
    }

    .way-label {
        color: #008000
    }

    .current-sport-div {
        border: 0 #008000 dashed;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 0 30px 0;
        width: 100%
    }

    .current-sport-select {
        width: 200px;
        text-align: center;
        color: #008000;
    }

    .current-sport-label {
        color: #008000
    }

}
