/**
 * @file mip-bmi-save 样式文件
 */

mip-bmi-save {

    .mobile-div {
        padding: 10px 0 10px 0;
        width: 100%
    }

    .mobile-input {
        width: 100%;
        text-align: center;
        color: #FF0000;
        line-height: .43rem;
        height: .43rem;
        font-size:.15rem;
        border:1px solid #efefef;
    }

    .mobile-label {
        color: #FF0000
    }

}
