/**
 * @file mip-linkeddb-floating样式文件
 */

mip-linkeddb-floating {
    .fixed {
        position: fixed !important;
        top:53px
    }
    #topNavList {
        position: relative;
        width: 100%;
        height: auto;
    }
}
.car1 {
    height: 100px;
    background-color: #eee;
}
.car2 {
    height: 1500px;
    background-color: #81e4e4;
}