/**
 * @file mip-showcase-options样式文件
 */

mip-showcase-options {
      .menuheader{
        text-align: left;
        font-weight: 400;
        margin-top: 15px;
        font-size: 12px;
      }
      .menuheader:first-of-type{
        margin-top: 0;
      }
      .itemlist{
        display: flex;
        flex-wrap: wrap;
      }

      [role=listitem]{
        margin-bottom: 4.666667vw;
      }
      .menuitem{
        margin: 1.733333vw 4vw 0 0;
        padding: 0 2.4vw;
        color: #666;
        border: 1px solid #999;
        border-radius: 5.333333vw;
        font-size: 10px;
      }
      .menuitemact {
        font-weight: 700;
        color: #3199e8;
        border-color: hsl(206, 80%, 55%);
      }
      .diaprice{
        color: #ff6000;
        font-size: 10px;
        vertical-align: bottom;
        text-align: left;
        margin-top: 15px;
      }
      .diapricetext{
        font-size: 23px;
        font-weight: 700;
      }
}
