@charset "utf-8";
/* CSS Document */
.header .m_logo { float: left; margin-left: 10px; }
.header .m_logo a { height: 45px; float: left; }
.header .m_logo img { height: 35px; margin-top: 5px; }
.header .m_search { float: right; height: 25px; width: 25px; margin-top: 10px; margin-right: 15px; }
.top .m_banner { padding: 5px; }
.top .m_nav { margin-top: 0px; float: left; width: 100%; }
.top .m_nav img { height: 35px; }
.top .m_nav a { width: 24%; text-decoration: none; height: 60px; text-align: center; float: left; margin-top: 0px; }
.top .m_nav a span { width: 100%; float: left; line-height: 20px; font-size: 14px; color: #666666; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; }

/*1168头条 开始*/
.m_news .news_title {border-top:1px solid #eeeeee; border-bottom:8px solid #eeeeee;margin-top:5px;height:35px; line-height:35px; }
.m_news .news_title h1 { color:#ff0000;padding:0 5px;border-right:1px solid #eeeeee; float:left;margin-top:3px;line-height:30px; font-family:'Microsoft YaHei'}
.m_news .news_title span { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border:1px double #ff0000;float:left;margin-left:5px;padding:2px 5px;margin-top:7px; line-height:16px;}
.m_news .news_title a { color:#ff0000;}
.m_news .news_list a{color:#666666; }
.m_news .news_list li { width:50%;border-bottom:1px solid #eeeeee;border-right:1px solid #eeeeee; float:left;line-height:30px;height:30px;overflow:hidden; margin-left:-1px;}
.m_news .news_list li span {margin:0 5%;width:90%; overflow:hidden; display:block;}
.m_news .news_list li.rl { border-right:none;}
/*1168头条 结束*/
/*Start楼层招商Css样式*/
.m_mall .mall_title { line-height: 30px; width: 100%; height: 30px; font-weight: bold; }
.m_mall .mall_title span { float: left; width: 90px; border-bottom: 1px solid #00bb9c; color: #00bb9c; font-size: 1.4em; }
.m_mall .mall_list { float: left; width: 100%; margin-top: 10px; height: auto; }
.m_mall .mall_list .bigpic { width: 98%; float: left; padding: 0px 1%; }
.m_mall .mall_list .smallpic { width: 48%; float: left; padding: 0px 1%; }
.m_mall .mall_list .smallpic a { color:#1c1c1c;}
.m_mall .mall_list .smallpic a:hover { color:#df3031;}
.m_mall .mall_list .txtlink { height: 30px; width: 44%; float: left; padding: 0px 1%; line-height: 30px;margin: 4px 1%; overflow: hidden; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border:3px double #eeeeee; }
.m_mall .mall_list .txtlink a { color: #666666;width:100%; display:block;font-size: 1.2em; }
.m_mall .mall_list .txtlink span { width:98%;}
.m_mall .mall_list img { width: 100%; padding: 0px; margin: 0px; }
.m_mall .mall_list .mall { float: left; text-align: left; text-decoration: none; margin-bottom: 5px; width: 100%; }
.m_mall .mall_list .mall span { margin-top: 10px; width: 98%; text-decoration: none; color: #666666; font-size: 1.2em; height: 20px; line-height: 20px; overflow: hidden; display: block; }
.m_mall .mall_list .mall span i { color: #FF3300; font-size: 13px; font-style: normal; }
.m_mall .bl_more { line-height: 40px; text-align: center; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #EEEEEE; float: left; width: 100%; }
.m_mall .bl_more a { line-height: 40px; height: 40px; width: 100%; color: #666666; text-decoration: none; float: left; font-size: 1.2em; }
.index_more { line-height: 40px; text-align: center; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #EEEEEE; float: left; width: 100%; }
.index_more a { color: #666666; text-decoration: none; font-size: 1.2em; }
/*End楼层招商Css样式*/

#box { position: fixed; right: 0px; top: 120px; display: none; }
#box ul li { width: 30px; height: 30px; line-height: 30px; border: 1px solid #ffffff; text-align: center; border-bottom: none; background: #00bb9c; color: #ffffff; }
#box ul li.last { border-bottom: 1px dotted #ffffff; }
#box ul li .num { color: #ffffff; /*display: none;*/ }
#box ul li .word { display: none; color: #ffffff; }
.comText { width:100%;height:30px;line-height:30px;text-align:center;font-size:12px; overflow:hidden;}
