@charset "utf-8";
/* CSS Document */
body { margin: 0px; padding: 0px; font-family: Helvetica,"Microsoft YaHei", Arial, Helvetica, sans-serif; background-color: #eeeeee; -webkit-text-size-adjust: none; font-size: 62.5%; }
ul, li { margin: 0px; padding: 0px; list-style-type: none; }

img { border: 0px; border-style: none; max-width: 100%; }
form { margin: 0px; padding: 0px; }

a, div, header, span { -webkit-tap-highlight-color: rgba(255,255,255,0); }
.mobile { background-color: #FFFFFF; min-width: 320px; }
.w { background-color: #FFFFFF; float: left; min-width: 320px; width: 97%; margin: 1% 1.5%; }

.m_user { line-height: 40px; }
.m_user a { float: left; width: 33%; text-decoration: none; color: #666666; font-size: 1.2em; text-align: center; }
.m_more { line-height: 40px; text-align: center; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #F6F6F6; float: left; width: 100%; border-top-width: 1px; border-top-style: solid; border-top-color: #F6F6F6; }
.m_more a { line-height: 40px; height: 40px; width: 100%; color: #666666; text-decoration: none; float: left; font-size: 1.2em; }
.data_null { background-image: url(/images/nothing.png); background-repeat: no-repeat; background-position: center; height: 150px; }

/*页面加载*/
#preloader { position: fixed; z-index: 2500; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; z-index: 999999; }
#status { position: fixed; z-index: 999999; width: 250px; height: 250px; position: absolute; left: 50%; top: 50%; background-size: 32px 32px; margin-top: -125px; margin-right: 0; margin-bottom: 0; margin-left: -115px; }
#status p { top: 70%; }
.center-text { text-align: center; background-image: url(/images/loading.jpg); background-repeat: no-repeat; background-position: center top; height: 182px; width: 234px; }
.center-text span { font-size: 14px; color: #999999; position: relative; top: 170px; }

/*header*/
.header { height: 44px; background: #f61d4b; position: relative; z-index: 10; width: 100%; float: left; }
.new-a-back { height: 40px; position: absolute; width: 45px; }
.new-a-back span { display: block; height: 35px; text-indent: 1.7em; width: 50px; color: #FFFFFF; font-size: 1.4em; padding-top: 8px; margin-left: -10px; }
.new-a-back span img { width: 25px; }

.header h2 { margin: 0; color: #fff; font-size: 1.6em; font-weight: normal; height: 44px; line-height: 44px; text-align: center; font-weight: bold; }
.header h2 a { color: #ffffff; text-decoration: none; }
.header .header_right { position: absolute; right: 10px; top: 10px; }
.header .header_right img { height: 25px; }
.head_right { position: absolute; top: 15px; right: 10px; }
.head_right a { color: #FFFFFF; font-size: 1.2em; padding-top: 5px; text-decoration: none; }
.search { margin-top: 2%; }



.search_input { margin: 0px; padding-top: 12px; padding-right: 0px; padding-bottom: 10px; padding-left: 10px; float: left; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; outline: none; font-family: Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 1.3em; color: #666666; background-size: 20px; width: 70%; }
.search_submit { float: right; width: 17%; height: 37px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; outline: none; font-family: Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 1.4em; line-height: 37px; color: #FFFFFF; background-color: #ffffff; background-image: url(/images/iconfont-sousuo.png); background-repeat: no-repeat; background-position: 30px center; background-size: 20px; }
.m_input { width: 97%; padding-right: 1.5%; padding-left: 1.5%; font-size: 15px; color: #333333; height: 40px; font-family: Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif; border: 1px solid #D7D7D7; margin: 1.5%; outline: none; border-radius: 3px; }
.color_red { font-weight: bold; color: #ff6063; }
.color_luse { font-weight: bold; color: #00bb9c; }

.color_chunlu { font-weight: bold; color: #91C756; }






.footer a { float: left; width: 33%; height: 110px; text-align: center; text-decoration: none; }
.footer .ico_img { margin-top: 15px; }
.footer .ico_img img { width: 64px; }

.footer a span { font-size: 1.2em; color: #666666; line-height: 30px; }
.copyright { line-height: 25px; font-size: 1.2em; color: #999999; text-align: center; float: left; width: 100%; margin-bottom: 52px; }
.copyright a { text-decoration: none; color: #999999; }
.gotop { background-image: url(/images/iconfont-fanhuidingbu.png); background-repeat: no-repeat; background-position: center center; background-size: 40px; height: 40px; width: 40px; position: fixed; right: 0px; bottom: 50px; z-index: 9999; cursor: pointer; }
.no_login_show { background-color: #FFFFFF; text-align: center; float: left; width: 360px; overflow: hidden; }
.no_login_show h1 { font-size: 16px; color: #666666; margin: 0px; line-height: 50px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #E7E7E7; background-color: #F9F9F9; }
.no_login_show a { width: 100%; line-height: 50px; text-decoration: none; color: #ff6063; float: left; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #EEEEEE; }

/*底部导航*/
#bt_menu { width: 100%; height: 50px; position: fixed; bottom: 0px; background: #ffffff; border-top: 1px solid #eeeeee; }
#bt_menu a { width: 20%; height: 50px; line-height: 80px; float: left; text-align: center; color: #00ba9b; font-size: 1.4em; text-decoration: none; }
#bt_menu a.a_index { background: url(/Images/ico/01-1.png) no-repeat; background-size: 23px; background-position-x: 50%; background-position-y: 20%; }
#bt_menu a.a_news { background: url(/Images/ico/02-1.png) no-repeat; background-size: 23px; background-position-x: 50%; background-position-y: 20%; }
#bt_menu a.a_agent { background: url(/Images/ico/03-1.png) no-repeat; background-size: 23px; background-position-x: 50%; background-position-y: 20%; }
#bt_menu a.a_server { background: url(/Images/ico/06-1.png) no-repeat; background-size: 23px; background-position-x: 50%; background-position-y: 20%; }
#bt_menu a.a_center { background: url(/Images/ico/05-1.png) no-repeat; background-size: 23px; background-position-x: 50%; background-position-y: 20%; }

/*404页面*/
.no_date { text-align: center; padding: 50px 0; }
.no_date img { margin: 10px auto; }
.no_date h2 { height: 40px; font-size: 1.5em; text-align: center; line-height: 40px; color: #ff0000; }

/*分享引导层*/
#mcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }
#mcover img { position: fixed; right: 18px; top: 5px; width: 260px!important; height: 180px!important; z-index: 20001; }
