/* CSS Document */
/*登录页面*/
.login_main { width: 97%; height: 100%; overflow: hidden; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;}
.login_main h1 { font-size: 16px; font-weight: normal; color: #FF6600; line-height: 45px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #F3F3F3; text-indent: 10px; margin: 0px; padding: 0px; }
.login_main h1 span { float: right; font-size: 12px; color: #999999; margin-right: 5px; }
.loggo { width: 30%; margin: 60px auto 0; color: #252525; line-height: 30px; text-align: center; font-size: 1.6em; }

.login { width: 80%; margin: 20px auto; overflow: hidden; }

.login li { margin: 20px auto; text-align: center; color: #252525; font-size: 1.4em; }
.login li a { color: #ffffff;  text-decoration: none; }
.login input { width: 85%; padding-left: 30px; border: 1px solid #D1D1D1; -moz-border-radius: 5px; /* Gecko browsers */ -webkit-border-radius: 5px; /* Webkit browsers */ border-radius: 5px; /* W3C syntax */ height: 40px; color: #252525; font-size: 1.2em; }
.login input.username { background-image: url(/Images/user/username.png); background-size: 20px; background-repeat: no-repeat; background-position-x: 5px; background-position-y: 10px; }
.login input.password { background-image: url(/Images/user/password.png); background-size: 20px; background-repeat: no-repeat; background-position-x: 5px; background-position-y: 10px; }
.login input.submit { background-clip: padding-box; height: 40px; padding: 0 15px; box-sizing: content-box; color: #ffffff; font-weight: bold; background-color: #4eabe8; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#4eabe8),to(#4eabe8)); color: #fff; border-color: #4eabe8; -webkit-background-clip: padding-box; background-clip: padding-box; }

.login .register { width: 85%; padding-left: 30px;background-clip: padding-box; height: 40px; padding: 0 15px; box-sizing: content-box; color: #ffffff; font-weight: bold; line-height:40px; background-color: #f75549; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fc6156),to(#f75549)); color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box;border: 1px solid #f75549; -moz-border-radius: 5px; /* Gecko browsers */ -webkit-border-radius: 5px; /* Webkit browsers */ border-radius: 5px; /* W3C syntax */ }


.sqcode {width: 90%; margin: 20px auto; overflow: hidden; }
.sqcode li{height:40px;margin:10px 0; }
.sqcode input{ width:98%;height:30px;line-height:30px; border: 1px solid #D1D1D1; -moz-border-radius: 5px; /* Gecko browsers */ -webkit-border-radius: 5px; /* Webkit browsers */ border-radius: 5px; /* W3C syntax */ color:#666666;}

.sqcode input.submit {height:35px;color: #ffffff; font-weight: bold; background-color: #4eabe8; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#4eabe8),to(#4eabe8)); color: #fff; border-color: #4eabe8;  }
.sqcode span { float:left;width:30%;height:30px;line-height:30px;}
.sqcode input.radio { float:left; width:20%;}

/*注册页面*/
@charset "utf-8";

.main {
	padding-top: 15px;
	padding-bottom: 15px;
}

.main .item {
	margin-bottom: 5px;
	position: relative;
	width: 100%;
	margin-top: 5px;
}
.main .item .txt-username,
.main .item .txt-password,
.main .item .txt-password_PwdTwo,
.main .item .txt-password_PwdThree,
.main .item .txt-captcha{
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	padding-left: 2%;
}
.main .item .txt-phone {text-indent:80px;}
.main .item .txt-input {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #D1D1D1;
	border-radius:5px;
	color: #252525;
	font-size: 14px;
	height: 44px;
	width: 94%;
    margin-left:2%;
}
.main .item-username .input-close {right: 7px;}
.main .item .input-close {
	cursor: pointer;
	display: block;
	height: 25px;
	position: absolute;
	top: 10px;
	width: 25px;
	background-attachment: scroll;
	background-image: url(../images/user/u_close.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px;
}
.main .item-password .btn-off {background: url("../images/user/u_s1.png") no-repeat scroll 0 0 / 51px 35px;}
.main .item-password .tp-btn {cursor: pointer;display: block;height: 35px;position: absolute; right: 10px;top: 8px; width: 51px; z-index: 0;}
.main .item-password .btn-on {background: url("../images/user/u_s2.png") no-repeat scroll 0 0 / 51px 35px;}
.main .item-password .btn-off_PwdTwo {background: url("../images/user/u_s1.png") no-repeat scroll 0 0 / 51px 35px;}
.main .item-password .tp-btn_PwdTwo {cursor: pointer;display: block;height: 35px;position: absolute; right: 10px;top: 8px; width: 51px; z-index: 0;}
.main .item-password .btn-on_PwdTwo {background: url("../images/user/u_s2.png") no-repeat scroll 0 0 / 51px 35px;}
.main .item-password .btn-off_PwdThree {background: url("../images/user/u_s1.png") no-repeat scroll 0 0 / 51px 35px;}
.main .item-password .tp-btn_PwdThree {cursor: pointer;display: block;height: 35px;position: absolute; right: 10px;top: 8px; width: 51px; z-index: 1;}
.main .item-password .btn-on_PwdThree {background: url("../images/user/u_s2.png") no-repeat scroll 0 0 / 51px 35px;}
.main .item-login-option {
	font-size: 14px;
	margin-bottom:5px;
	height: 30px;
}
.main  .item-login-option  .aoutlogin  {
	float: left;
	margin-left: 10px;
	font-size: 12px;
	color: #666666;
}

.main .item-login-option .retrieve-password {
	float: right;
	text-align: right;
	width: 50%;
	margin-right: 10px;
}
.main .item-login-option .retrieve-password a {
	color: #4eabe8;
	font-size: 12px;
	text-decoration: none;
}
.main .item-login-other dt {
	color: #666;
	font-size: 12px;
	margin-bottom: 13px;
}
.main   .item-login-other   dd {
	margin: 0px;
}

.main .item-login-other dd .qq {width: 20%;}
.main .item-login-other dd a {float: left;}
.main .item-login-other dd a span {display:block;height: 40px;overflow: hidden; width: 40px;}
.ui-btn-wrap { padding-top:5px; padding-bottom:10px;}
.ui-btn-lg {
	cursor:pointer;
	border-radius:5px;
	display: block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	width: 96%;
    margin:0 auto;
	text-align:center;
	text-decoration: none;
}
.ui-btn-primary {
	background-clip: padding-box;
	background-color: #4eabe8;
	border-color: #4eabe8;
	color: #fff;
    border:none;
	text-decoration: none;
}
.ui-btn-danger{background-clip: padding-box;background-color: #de3b8a;border-color: #de3b8a;color: #fff;}
.ui-btn-danger:visited{background-clip: padding-box;background-color: #de3b8a;border-color: #de3b8a;color: #fff;}
.main .item-captcha {margin-bottom: 10px;}
.main .item-captcha .input-info {margin-bottom: 10px;}
.main .item-captcha .input-close {right: 79px;}
.main .item-captcha #captcha-img { border-left: 1px solid #d7d7d7;height: 25px; padding-left: 7px; position: absolute;right: 0;top: 9px;width: 79px;}
.main .item-captcha .err-tips {
	color: #848689;
	font-size: 12px;
	margin-left:4%;
}
.main .item-captcha .err-tips a {
	color: #0052ce;
	text-decoration: none;
}
.register_verify {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.register_verify .ok_iocn {
}
.register_verify h1 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #f23436;
	margin-top: 20px;
}


.register_verify h2 {
	line-height: 50px;
	color: #333333;
	font-size: 14px;
}
.register_verify h3 {
	color: #333333;
	margin-bottom: 20px;
}
.register_verify p {
	margin-top: 20px;
}
.register_verify p a {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 16px;
	margin-top: 10px;
}
.user_top {
	height: auto;
	background-image: url(../images/user_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-size:cover;
	text-align: center;
}
.user_logo {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


.user_logo .img {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.user_logo .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.user_logo img {
    width: 100%;
    height: 100%;
}

.user_logo .img img {
    border-radius: 50%;
}.user_info {
}
.user_info .user_name {
	font-size: 16px;
	color: #FFFFFF;
	line-height: 35px;
}
.user_info .user_dengji {
	font-size: 12px;
	color: #F3F3F3;
	line-height: 25px;
    float:left;
    width:40%;
    margin-left:10%;
    text-align:left;
}
.user_nav_list {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EBEBEB;
	border-left-color: #EBEBEB;
}
.user_nav_list  li {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
	height: 50px;
}
.user_nav_list a {
	display: block;
	color: #666666;
	text-decoration: none;
	width: 100%;
	float: left;
}
.user_nav_list .u_nav_icon {
	float: left;
	margin-left: 2%;
	height: 30px;
	width: 30px;
	background-size: 90%;
	margin-top: 10px;
}


.user_nav_list .u_nav_name {
	float: left;
	margin-left: 4%;
	line-height: 50px;
	font-size: 15px;
}
.user_nav_list .u_money {
	position: relative;
	font-size: 13px;
	color: #666666;
	line-height: 51px;
	float: right;
}
.user_nav_list .u_money i {
	color: #ff6063;
	font-style: normal;
}

.user_nav_list .nt_icon {
	background-image: url(../images/iconfont-jiantou.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
	height: 50px;
	width: 32px;
	float: right;
	margin-right: 1%;
}
.login_out {
	text-align: center;
}
.login_out  a span {
	height: 20px;
	width: 20px;
	position: relative;
	top: 4px;
	right: 5px;
}
.login_out  a  span img {
	height: 18px;
	width: 18px;
}

.login_out a {
	line-height: 45px;
	text-decoration: none;
	text-align: center;
	float: left;
	color: #FFFFFF;
	background-color: #8c6a5e;
	width: 100%;
}
.login_out  a  i {
	font-size: 15px;
	font-style: normal;
}
