/**
 * @file mip-change样式文件
 */

mip-change {
    .list1 {
        display: flex;
        margin: 0 auto;
    }
    .list1 li {
        height: 2.5em;
        margin: .625em .32em;
        line-height: 2.5em;
        text-align: center;
        border-radius: .25em;

        flex: 1;
    }
    .listchange2,
    .listchange3,
    .listchange4 {
        display: none;
    }
    .huan {
        font-family: "微软雅黑";
        font-size: 1em;
        text-align: center;
        color: #999;
    }
}
