/**
 * @file mip-bmi-record 样式文件
 */

mip-bmi-record {

    .bmi-record-title-div {
        display: flex;
        justify-content: left;
        align-items: center;
        color:#333;
	}

    .bmi-record-info-head-div {
        display: block;
        text-align: center;
        background:#cecece;
        margin-top:10px;
        width:100%;
        font-size:.08rem;
    }

    .bmi-record-info-head-div .gx {
        height: 20px;
        float:left;
        padding-top:2px;
        border-right: 1px #cecece solid;
    }

    .bmi-record-info-head-n {
        width: 11%;         
    }

    .bmi-record-info-head-height {
        width: 11%;
    }

    .bmi-record-info-head-weight {
        width: 11%;
    }

    .bmi-record-info-head-bmi {
        width: 15%;
    }

    .bmi-record-info-head-dateTime {
        width: 35%;
    }

    .bmi-record-info-head-operation {
        float:left;
        width: 15%;
        height: 20px;
    }

    .bmi-record-info-body-div {
        display: block;
        text-align: center;
        width:100%;
        background:#FFF;
        font-size:12px;
        line-height:20px;
    }

    .bmi-record-info-body-div .gx {
        float:left;
        height: 20px;
        border-right: 1px #808080 solid;
        border-bottom: 1px #808080 solid;
    }

    .bmi-record-info-body-n {
        width: 11%;
    }

    .bmi-record-info-body-height {
        width: 11%;
    }

    .bmi-record-info-body-weight {
        width: 11%;
    }

    .bmi-record-info-body-bmi {
        width: 15%;
    }

    .bmi-record-info-body-dateTime {
        width: 35%;
    }

    .bmi-record-info-body-operation {
        width: 15%;
        float:left;
        height: 20px;
        border-bottom: 1px #808080 solid;
    }

    .bmi-record-info-body-foot {
        background:#fff;
        height:3px;
    }
}
